* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  scroll-behavior: smooth;
}

.outline-text {
  display: inline-block;
  position: relative;
  -webkit-text-stroke: 1.5px #000;
  /* text-stroke: 1.5px #000; */
  -webkit-text-fill-color: transparent;
  /* text-fill-color: transparent;  */
  color: transparent;
  transition: opacity 0.4s;
}